/*Definindo a altura e largura da imagem do logo*/
.logo img {
    height: 80px;
    width: auto;
}

/*Definindo a margem à direita para os itens do cabeçalho*/
.nav-link {
    margin-right: 40px;
}

/*Definindo o sublinhado para o link em que a pessoa está*/
.navbar-nav .nav-link.active {
    text-decoration: underline;
}