@import url('https://frons,googleapis.com/css2?family=poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    align-items: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F5F5DC;
}
.wrapper{
    max-width: 1200px;
    position: relative;
}
.wrapper i{
    top: 50%;
    height: 46px;
    width: 46px;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 46px; 
    background: wheat;
    border-radius: 50%;
    transform: translateY(-50%);
}
.wrapper i:first-child{
    left: -23px;
}
.wrapper i:last-child{
    right: -23px;
}
.wrapper .carrossel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}

.carrossel img{
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% /3);
}
.carrossel img:first-child{
    margin-left: 0px;
}